* {
    padding        : 0;
    margin         : 0;
    list-style     : none;
    text-decoration: none;
    box-sizing     : border-box;
}

body {
    background-image: linear-gradient(180deg,
            #f084bf,
            #ee77b8 60%,
            #b11053);
    min-height : 100vh;
    margin     : 0;
    font-family: Arial, sans-serif;
    padding    : 20px;
}

form {
    display         : flex;
    align-items     : center;
    flex-direction  : column;
    max-width       : 600px;
    margin          : 100px auto 20px auto;
    gap             : 10px;
    background-color: #f0f0f085;
    backdrop-filter : blur(30px);
    border-radius   : 30px;
}

form>div {
    position : relative;
    flex-grow: 1;
}

#text {
    width        : 100%;
    padding      : 20px 10px 10px 5px;
    background   : transparent;
    border       : none;
    border-bottom: 2px solid #d1578a;
    color        : #0c0c0c;
    font-size    : 16px;
    outline      : none;
    transition   : border-bottom-color 0.3s ease;
}

#text:focus {
    border-bottom-color: #f05dae;
    background         : #e9b0bd;
    border             : 1px dashed #f05d7d;
    padding            : 20px 10px 10px 5px;
    border-radius      : 5px;
}

.label {
    position      : absolute;
    left          : 5px;
    top           : 50%;
    transform     : translateY(-50%);
    font-size     : 18px;
    color         : #111111;
    pointer-events: none;
    transition    : all 0.3s ease;
}

#text:focus+.label,
#text:not(:placeholder-shown)+.label {
    top      : 30px;
    transform: translateY(0);
    font-size: 14px;
    color    : #000000;
}

button {
    padding         : 10px 20px;
    border          : none;
    border-radius   : 5px;
    background-color: #db395c;
    color           : #ffffff;
    font-weight     : bold;
    cursor          : pointer;
    transition      : background-color 0.2s, transform 0.1s;
    flex-shrink     : 0;
}

button:hover {
    background-color: transparent;
    border          : 2px solid #f05d7d;
    box-shadow      : 0 4px 6px rgba(54, 9, 44, 0.699);
    color           : #db395c;
}

button:active {
    transform: scale(0.98);
}

.box {
    display        : flex;
    column-gap     : 25px;
    padding-top    : 30px;
    width          : 90%;
    justify-content: center;
    align-items    : center;
}

.box>div {
    width: 100%;
}

.task__list {
    max-width     : 600px;
    width         : 100%;
    margin        : 20px auto;
    padding       : 0 10px;
    flex-direction: column;
}

.task__list li {
    display         : flex;
    justify-content : space-between;
    gap             : 15px;
    align-items     : center;
    padding         : 15px 25px;
    margin-bottom   : 10px;
    background-color: #e9b0bd;
    border-radius   : 8px;
    box-shadow      : 0 4px 6px rgba(134, 15, 74, 0.5);
    border-left     : 5px solid #db395c;
}

.task__list li span {
    flex-grow    : 1;
    font-size    : 18px;
    overflow-wrap: break-word;
    word-wrap    : break-word;
    min-width    : 0;
}

.task__list li button {
    padding         : 7px 10px;
    font-size       : 14px;
    background-color: #db395c;
    flex-shrink     : 0;
}

.task__list li button:hover {
    background-color: #db395c;
    color           : #ffffff;
}